.centered{
  text-align: center;
}
.entry-grid{
  width: 50%;
  margin-left: 25%;
  height: 50%;
  text-align: center;
}
.diary-block{
  width: 30%;

  height: 100%;
  font-size: 1.5rem;
}
.entry-block{
  color: white;
  background-color: gray;
  width: 20%;
  padding-bottom: 5%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2.5%;
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
}
.entry-block:hover{
  background-color: green;
  color: white;
}
.entry-block:link{
  text-decoration: none;

}
.textbox{
  white-space: pre-line;
}
.tag{
  margin: 5;
}
textarea {
    padding: 20px;
    margin: 20px;
}
